@import '../../assets/scss/index.scss';

#whatsapp-button {
    display: flex;
    flex-direction: column;
    display: block;
    width: fit-content;
    height: fit-content;
    color: white;

    @include breakpoint(smallOnly) {
        font-size: .8rem;
    }

    @include floatingElement (3s , 0s);

    img {
        margin: 4px auto;
        display: block;
        width: 2.5rem;

        @include breakpoint(smallOnly) {
            width: 1.8rem;
        }
    }
}