@import './colors';


@mixin buttonDefault {
    display: block;
    padding: 12px 18px;
    background-color: $dark2-palette;
    color: $cyan-palette;
    border: none;
    box-shadow: 4px 4px 4px 2px rgb(10, 10, 10), -4px -4px 5px 2px rgb(21, 21, 21);
    border-radius: 2px;
    margin: 5vh auto;

    font-size: 1rem;
    font-weight: lighter;
}