// Color palette


$purple-palette: #7302a8;
$cyan-palette: #dba100;
$black-palette: #000;
$dark-palette: rgb(22, 22, 22);
$dark2-palette: rgb(17, 17, 17);
$shadows-palette: rgb(12, 12, 12);
$gray-palette: rgb(180, 180, 180);
$white-palette: #FFF;
