// Color palette


$orange-palette: orange;
$purple-palette: #ff00d4;
$embers-palette: #B82601;
$cyan-palette: #04c5e7;
$black-palette: #000;
$dark-palette: rgb(22, 22, 22);
$dark2-palette: rgb(17, 17, 17);
$shadows-palette: rgb(8, 8, 8);
$white-palette: #FFF;
