// Color palette


$orange-palette: orange;
$purple-palette: #580081;
$cyan-palette: #e7d004;
$black-palette: #000;
$dark-palette: rgb(22, 22, 22);
$dark2-palette: rgb(17, 17, 17);
$shadows-palette: rgb(8, 8, 8);
$gray-palette: rgb(180, 180, 180);
$white-palette: #FFF;
