@import './colors';
@import './animations';

@mixin  primary-title {
    h1 {
        font-size: 5.5rem;
        font-weight: bold;
        text-align: center;

        @include breakpoint(mediumOnly) {
            font-size: 4.2rem;
        }

        @include breakpoint(smallOnly) {
            font-size: 3rem;
        }
    }
}

@mixin secondary-title {
    h2 {
        color: $gray-palette;
        font-size: 2.2rem;
        width: 100%;
        font-weight: bold;
        text-align: left;
        margin-bottom: 5vh;
        
        @include breakpoint(mediumOnly) {
            font-size: 1.7rem;
            text-align: center;
        }

        @include breakpoint(smallOnly) {
            font-size: 1.6rem;
        }
    }
}

@mixin tertiary-title {
    h3 {
        color: $white-palette;
        font-size: 1.4rem;
        font-weight: normal;
        margin: 5vh auto;
        width: fit-content;
        border-bottom: 2px solid #666;


        @include breakpoint(mediumOnly) {
            font-size: 1.3rem;
        }

        @include breakpoint(smallOnly) {
            font-size: 1.1rem;
        }
    }
}

@mixin quaternary-title {
    h4 {
        color: $white-palette;
        font-size: 1.2rem;
        font-weight: normal;
        margin: 3vh auto;
        width: fit-content;


        @include breakpoint(mediumOnly) {
            font-size: 1.1rem;
        }

        @include breakpoint(smallOnly) {
            font-size: 1rem;
        }
    }
}

@mixin paragraphs {
    p {
        color: $white-palette;
        font-size: 1.1rem;
        font-weight: lighter;
        line-height: 2;
        word-spacing: 5px;

        @include breakpoint(mediumOnly) {
            font-size: 1rem;
        }
    }
}

@mixin sections {
    section {
        padding-top: 11vh;
    }
}