@import './colors';
@import './animations';

@mixin  primary-title {
    h1 {
        color: $white-palette;
        font-size: 6rem;
        font-weight: bold;
        text-align: center;

        @include breakpoint(mediumOnly) {
            font-size: 5rem;
        }

        @include breakpoint(smallOnly) {
            font-size: 3.5rem;
        }
    }
}

@mixin secondary-title {
    h2 {
        color: $white-palette;
        font-size: 2.2rem;
        width: 100%;
        font-weight: normal;
        padding: 5px 2px;
        text-align: left;
        border-bottom: 3px solid rgb(41, 41, 41);
        
        @include breakpoint(mediumOnly) {
            font-size: 1.7rem;
        }

        @include breakpoint(smallOnly) {
            font-size: 1.6rem;
        }
    }
}

@mixin terciary-title {
    h3 {
        color: $white-palette;
        font-size: 1.4rem;
        font-weight: normal;
        margin-bottom: 5vh;

        @include breakpoint(mediumOnly) {
            font-size: 1.3rem;
        }

        @include breakpoint(smallOnly) {
            font-size: 1.2rem;
        }
    }
}

@mixin paragraphs {
    p {
        color: $white-palette;
        font-size: 1.1rem;
        font-weight: lighter;
        text-align: justify;
        line-height: 1.75;

        @include breakpoint(mediumOnly) {
            font-size: .98rem;
        }

        @include breakpoint(smallOnly) {
            font-size: .95rem;
        }
    }
}

@mixin sections {
    section {
        padding-top: 11vh;
    }
}