@import '../../assets/scss/index.scss';

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    padding: 0 10px;
    
    p {
        text-align: center;
    }
    
    .footer-div {
        position: relative;
        display: block;
        width: 32%;
        text-align: center;

        @include breakpoint(mediumOnly) {
            width: 70%;
        };

        @include breakpoint(smallOnly) {
            width: 90%;
        };

        a {
            padding: 5px;
            color: $white-palette;
            display: block;
            margin: 2vh auto;
            width: fit-content;
            border-radius: 5px;

            @include borderColorPurpleToCyan(borderFull);
        }
    }

    #footer-main {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 5vh;
        @include borderColorPurpleToCyan(borderBottom);

        @include breakpoint(mediumOnly) {
            flex-direction: column;
            align-items: center;
        };
    }
    
    #footer-aside {
        padding: 5vh 0;
    }
}