@import '../../assets/scss/index';

#list-stacks {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10vh 0;

    @include showContent(bottomSide);

    .figure-stacks {

        border-radius: 2px;
        box-shadow: -4px -4px 6px 2px rgb(20, 20, 20), 4px 4px 6px 2px rgb(10, 10, 10);
        width: 400px;
        height: 230px;
        display: flex;
        flex-direction: column;
        margin: 3vh 0;

        @include breakpoint(mediumOnly) {
            width: 340px;
            margin: 3vh;
        }

        @include breakpoint(smallOnly) {
            width: 260px;
            margin: 3vh;
        }

        .img-stack {
            width: 5rem;
            margin: 2vh auto;
    
            @include floatingElement(3s , 0s);
        }

        figcaption {
            text-align: center;
            color: $white-palette;
            margin-top: 2vh;

            span {
                display: block;
                margin: 2vh 0;
                font-size: 1.1rem;
            }

            #tech-level {
                font-weight: lighter;
            }
        }
        
    }
}



