@import '../../assets/scss/index.scss';

// Navbar config geral

#navbar {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    align-items: center;
    min-height: 10vh;
    font-size: 1.1rem;
    background-color: $black-palette;

    @include breakpoint(mediumOnly) {
        height: fit-content;
        flex-direction: column;
    }
    
    #brand-button {
        width: 15vw;
        text-decoration: none;
        color: $white-palette;
        display: flex;
        align-items: center;
    }
    
    #buttons-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85vw;

        @include breakpoint(mediumOnly) {
            flex-direction: column;
            width: 100%;
            overflow: hidden;
        };

        #navbar-list {
            display: flex;
            flex-direction: row;
            list-style: none;

            @include breakpoint(mediumOnly) {
                flex-direction: column;
                text-align: center;
                height: 70vh;
                justify-content: center;
            }
        }
        
        #navbar-social-networks {
            display: flex;
            list-style: none;

            @include breakpoint(mediumOnly) {
                width: 100%;
                justify-content: space-evenly;
                height: 20vh;
                align-items: flex-start;
            }
        }
        
        .navbar-item {
            position: relative;
            margin: 0 10px;
            padding: 5px;
        }
        
        .navbar-links {
            position: relative;
            display: block;
            color: $white-palette;
            text-decoration: none;
            padding: 2.5px;
        }

    }
    
    

    // =================== Configurações toggler-button ================== //

    .toggler-button {
        display: block;
        width: 2rem;
        height: 2rem;
        box-shadow: none;
        border: 1px solid $cyan-palette;
        background: $black-palette;

        #svg-img {
            animation: changeSvgImg .5s normal;
        }
    
        @keyframes changeSvgImg {
            0% {
                transform: scale(.5);
            } 100% {
                transform: scale(1);
            }
        }
    }
    
    .toggler-button:focus {
        outline: none;
    }

    // ======================================================================= //
    
    .menu-collapse {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(mediumOnly) {
            width: 100vw;
            height: 10vh;
            padding: 0 20px;
        }
    }
}


// Transição acionado pelo evento click no botão de toggle

.showNavbar-enter, .showNavbar-leave-to {
    height: 0vh;
}

.showNavbar-enter-to, .showNavbar-leave {
    height: 90vh;
}

.showNavbar-enter-active, .showNavbar-leave-active {
    transition: height .5s;
}

// Configurações particulares de animações de hover dos 'li'

 .social-networks-icons {
    position: relative;
    display: block;
    width: 1.4rem;
}

 .navbar-item::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $purple-palette;
    transform: scaleX(0);
    top: 0px;
    left: 0px;
    transform-origin: left;
}

 .navbar-item::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $cyan-palette;
    transform: scaleX(0);
    transform-origin: right;
}

 .navbar-item:hover::before {
    transform: scaleX(1);
    transition: .4s;
}

 .navbar-item:hover::after {
    transform: scaleX(1);
    transition: .4s;
}

// Configuração animação da cor do brand

#color-brand-dev {
    @include colorTextPurpleToCyan
}

#color-brand-lucas {
    @include colorTextCyanToPurple
}