@import '../../assets/scss/index.scss';

.render-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    box-shadow: 0px 0px 2px 8px rgb(22, 22, 22);
    border-radius: 10px;
    padding: 15px 0;

    .list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white-palette;
        font-size: 1rem;
        font-weight: bolder;
        width: 30%;
        margin: 2vh auto;
        padding: 10px 0;
        border-radius: 5px;
        box-shadow: -4px 4px 4px 3px rgb(8, 8, 8), 4px 4px 4px 3px rgb(8, 8, 8);

        @include breakpoint(mediumOnly) {
            width: 45%;
            font-size: .85rem;
        }
    }
}