@import '../../assets/scss/index';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10vh 0 5vh;

    .row-main{
        background-image: linear-gradient(to bottom right,$black-palette,$cyan-palette,$purple-palette,$black-palette);
        height: 85vh;
        width: 100%;
    
        @include breakpoint(smallOnly) {
            height: 65vh;
            padding-top: 15vh;
        }
    }
}

.flex-content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 0 20px;
    margin: -10vh 10px 5vh;
    border-radius: 10px;
    background-color: $dark2-palette;
    box-shadow: 6px 6px 7px 2px $shadows-palette, -6px -6px 5px 2px rgb(28, 28, 28);
    

    @include breakpoint(mediumOnly) {
        border-radius: 5px;
        padding: 0 15px;
        width: 95vw;
    }

    .grid-item {
        padding: 11vh 0;
    }

    #resume-home {
        display: flex;
        justify-content: space-around;

        #div-img-resume{

            width: 35%;

            #img-resume {
                display: block;
                width: 300px;
                height: 450px;
                margin: auto;
                border-radius: 8px;

                @include showContent(leftSide);

            }

            @include breakpoint(mediumOnly) {
                display: none;
            }
        }   
        
        #main-text-resume {

            width: 60%;
            height: fit-content;

            @include showContent(rightSide);

            @include breakpoint(mediumOnly) {
                width: 95%;
                margin: auto;
            }

            p {
                margin: 20px 0;
            }
        }

        #title-main-text {
            text-align: justify;
            border-bottom: none;
        }

        #resume-linkedin-button {
            @include buttonDefault;
        }

    }

    #stacks-github-button {
        @include buttonDefault;
    }

    #stacks-github-button:focus, #resume-linkedin-button:focus {
        outline: none;
    }

    a {
        text-decoration: none;
    }
}

