@import '../../assets/scss/index';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10vh 0 5vh;

    .row-main{
        background-image: linear-gradient(to bottom right,$black-palette,$cyan-palette,$purple-palette,$black-palette);
        height: 70vh;
        width: 100%;
    
        @include breakpoint(smallOnly) {
            height: 50vh;
            padding-top: 15vh;
        }
    }
}

.flex-content {
    display: flex;
    flex-direction: column;
    max-width: max(90vw , 1100px);
    padding: 0 15px;
    margin: -10vh 10px 5vh;
    border-radius: 10px;
    gap: 20px;
    background-color: $dark2-palette;
    box-shadow: .5px 1px 5px .5px $black-palette;

    @include breakpoint(mediumOnly) {
        border-radius: 2px;
    }

    .grid-item {
        padding: 11vh 0;
    }

    #resume-home {
        display: grid;
        gap: 0 40px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'tR tR tR' 'iR mtR mtR' 'aR aR aR';

        @include breakpoint(smallOnly) {
            grid-template-areas: 'tR tR tR' 'iR iR iR' 'mtR mtR mtR' 'aR aR aR';
        }

        #title-resume {
            grid-area: tR;
        }

        #img-resume {
            width: 250px;
            margin: auto;
            border-radius: 8px;
            box-shadow: 0px 0px 2px 3px $shadows-palette;
            grid-area: iR;

            @include showContent(leftSide);

            @include breakpoint(smallOnly) {
                width: 150px;
                border-radius: 3px;
                margin-bottom: 5vh;
            }
        }
        
        #main-text-resume {
            grid-area: mtR;
            width: 95%;
            margin: auto;

            @include showContent(rightSide);
        }

        #title-main-text {
            text-align: justify;
        }

        #academic-resume {
            display: flex;
            flex-direction: row;
            grid-area: aR;
            list-style: none;
            color: $white-palette;
            width: 95%;
            margin: 10vh auto 0;
            justify-content: space-around;
            background-image: url('../../assets/academic-resume-bg-lg.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 5vh 0;
            border-radius: 5px;

            @include breakpoint(smallOnly) {
                flex-direction: column;
                width: 100%;
                background-image: url('../../assets/academic-resume-bg-sm.jpg');
                background-position: center;
                background-size: cover;
            }

            h3 {
                text-align: center;
            }

            li {
                width: 50%;
                margin: 0 4vh;
                background-color: rgba(0,0,0,.9);
                padding: 2vh;
                border-radius: 5px;

                @include breakpoint(smallOnly) {
                    width: 95%;
                    margin: 2vh auto;
                }
            }
        }
    }
}

